.sdlc-container.position-relative
  .sdlc-description
    %a.title-link{ href: "/concurrent-devops" }
      %h2 200% Faster DevOps Lifecycle
    %p
      :markdown
        From project planning and source code management to CI/CD and monitoring, GitLab is a single application for [the entire DevOps lifecycle](/stages-devops-lifecycle/). Only GitLab enables [Concurrent DevOps](/concurrent-devops) to make the software lifecycle 200% faster.

  .table-container

    %p.table-label.single-application-label GitLab is a single application for the entire DevOps lifecycle.
    %p.table-label.separate-application-label GitLab can replace

    .sdlc-table
      - Gitlab::Homepage::Stage.all!.select{|stage| stage.dept!="enablement"}.each do |stage|
        .sdlc-column
          .stage-container
            %a{href: "/stages-devops-lifecycle/#{stage.key}/"}
              = partial "/includes/icons/sdlc-icons/#{stage.key}.svg"
            %a{href: "/stages-devops-lifecycle/#{stage.key}/"}
              %p #{stage.display_name}
          .solutions-container
            - category_keys_active = data.categories.keys.keep_if { |k| data.categories[k].stage == stage.key && data.categories[k].available && data.categories[k].available <= Date.today}
            - category_keys_upcoming = data.categories.keys.keep_if { |k| data.categories[k].stage == stage.key && data.categories[k].available && data.categories[k].available >= Date.today}
            - if category_keys_active.length >= 1
              .current-categories
                %p.font-bold
                  Since
                  #{stage.established}
                  GitLab added:
                - category_keys_active.each do |key|
                  %p
                    - url = data.categories[key].alt_link ? data.categories[key].alt_link : "/product/#{key.tr('_', '-').downcase}/"
                    %a{ href: "#{url}" } #{data.categories[key].name}
            .future-categories
              %p.font-bold
                Coming
                = succeed ':' do
                  %a.font-bold{ href: "#{stage.vision}", target: "_blank" } soon
              - category_keys_upcoming.each do |key|
                %p
                  - url = data.categories[key].alt_link ? data.categories[key].alt_link : "/product/#{key.tr('_', '-').downcase}/"
                  %a.future-category{ href: "#{url}", target: "_blank" } #{data.categories[key].name}

          .devops-tools-wrapper{ id: "#{stage.key}-devops_tools-container" }
            %p.replace-text.font-bold GitLab can replace:
            .devops-tools-container
              - stage.devops_tools.each do |devops_tool|
                %a.devops-tool-logo-container{ href: "/devops-tools/#{devops_tool.key.dup.tr('_', '-')}-vs-gitlab.html" }
                  .devops-tool-tooltip
                    %p.tooltip-text
                      = devops_tool.name
                    .tooltip-carat
                  %img.devops-tool-logo{ src: "#{devops_tool.logo}", alt: "#{devops_tool.name} logo png" }

    .btn-group.margin-top40
      %a.btn.cta-btn.orange.see-all-comparisons{ href: '/devops-tools/' } See and compare all DevOps tools

%script{ src: "/javascripts/rotate-devops_tools.js" }
%script{ src: "/javascripts/libs/tweenmax.min.js" }
