---
title: Stages of the DevOps Lifecycle
suppress_header: true
extra_css:
  - stages-devops-lifecycle.css
extra_js:
  - features.js
---

.blank-header
  %img.image-border.image-border-left{ src: "/images/home/icons-pattern-left.svg" }
  %img.image-border.image-border-right{ src: "/images/home/icons-pattern-right.svg" }
  .header-content
    %img.hero-image-small{ src: "/images/devops-tools/gitlab-logo.svg", alt: "GitLab logo icon svg" }
    %h1 A single application
    %p For the entire DevOps lifecycle.
    %a.btn.cta-btn.orange{ href: "/free-trial/" }
      Start your free trial

= partial "includes/home/customer-logos-transparent"

.solutions-wrapper
  .solution-container.flex-container.justify-center.align-center.full-width
    .solution-info-container.flex-container.flex-column.full-width
      %h2
        Overview
      %p
        GitLab is the first single application for the entire DevOps lifecycle. From planning to monitoring GitLab covers every stage and additionally lets you manage and secure across stages. Only GitLab enables Concurrent DevOps, unlocking organizations from the constraints of the toolchain. GitLab provides unmatched visibility, higher levels of efficiency, and comprehensive governance. This makes the software lifecycle 200% faster, radically improving the speed of business.
    .solution-image-container.flex-container.align-center.full-width
      %img.solution-image.flex-shrink{:src => "/images/stages-devops-lifecycle/devops-loop-and-spans-small.png"}/
  - data.stages.stages.select{|stageKey,stage| stage.dept!="enablement"}.keys.each do |solution|
    - link_url = "/stages-devops-lifecycle/#{solution.to_s.gsub(/_/, '-')}"
    - if (data.stages.stages.public_send(solution).image)
      .solution-container.flex-container.justify-center.align-center.full-width
        .solution-info-container.flex-container.flex-column.full-width
          %h2
            %a{ href: link_url }
              = data.stages.stages.public_send(solution).display_name
          %h4
            = data.stages.stages.public_send(solution).description
          %p
            = data.stages.stages.public_send(solution).body
          %a.learn-more.flex-container.align-center{ href: link_url }
            %p
              Learn More →
        .solution-image-container.flex-container.align-center.full-width
          %img.solution-image.flex-shrink{:src => data.stages.stages.public_send(solution).image}/
    - else
      .solution-no-image
        %h2
          %a{ href: link_url }
            = data.stages.stages.public_send(solution).display_name
        %p
          = data.stages.stages.public_send(solution).description
        %p
          = data.stages.stages.public_send(solution).body
        %a.learn-more.flex-container.align-center{ href: link_url }
          %p
            Learn More →

.gitlab-cta-container.text-center.animated
  .container
    %a.btn.cta-btn.red.hidden-sm.hidden-xs{href: "/features"}
      See all features

.gitlab-cta-container.text-center.animated
  .container
    %h2
      Choose the version of GitLab that is best for you
    %h4
      Host GitLab on your servers or let us host it for you
    %a.btn.cta-btn.red.hidden-sm.hidden-xs{href: "/pricing"}
      Explore our plans
    %a.btn.cta-btn.red.visible-sm.visible-xs{href: "/pricing"}
      Explore
